body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
}

header {
  background-color: #2da1ae;
}

img {
  width: 150px;
  /* margin: 0 auto; */
}

nav {
  display: inline;
}

nav > a.link {
  color: red;
}
.link {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  color: green;
}
.link:hover {
  color: white;
}
span.link::after {
  content: "*";
  color: red;
}

#glavni {
  background-color: green;
}

/* For mobile */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1180px;
  margin: 0 auto;
}

/* min-width -> Mobile first */
@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }
}
